* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 230px;
  height: 353px;
  user-select: none;
  -webkit-app-region: drag;
  background-image: url("assets/Rectangle\ 10.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
}

input,
button,
.list,
.title {
    -webkit-app-region: no-drag;}

.track-name {
    width: 200px;
    height: 40px;

    margin: 10px auto 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("assets/Rectangle 8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    color: white;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;

    text-align: center;
    
}
 
.track-art {
   display: flex;
   align-items: center;
   justify-content: center;


  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 7px auto 0;

}

.buttons {

    width: 200px;
    height: 80px;
    margin: 7px auto 0;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;

    
    background-image: url("assets/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    
}

.prev-track {
     width: 41px;
    height: 25px;

    background-image: url("assets/Component\ 1\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    -webkit-app-region: no-drag;
}

.playpause-track {
    width: 60px;
    height: 60px;

    background-image: url("assets/Component\ 2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    -webkit-app-region: no-drag;
}

.next-track {
    width: 41px;
    height: 25px;

    background-image: url("assets/Component\ 3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    -webkit-app-region: no-drag;
}
